<!DOCTYPE html>
<html>
    
    <head>
        <meta charset="utf-8">
        <title>
            爱，因为在心中
        </title>
        <script type="text/javascript" src="/static/js/jquery-1.7.1.min.js">
        </script>
        <link rel="stylesheet" href="/static/css/index.css" type="text/css" />
    </head>
    
    <body>
        <div id="wrap" class="wrapbg">
            <div id="whole">
                <div id="head" class="clearfix">
                    <div id="header" class="clearfix">
                        <a>
                            <span class="logo-t left">
                            </span>
                        </a>
                        <div class="word-scroll left">
                            <div class="clearfix">
                                <div class="scrollbox left">
                                    <ul class="word-list wordList">
                                        <li class="themeBoxW" style="display: list-item;">
                                            微信号：mubuys
                                            <br>
                                            关注后发送内容即可上墙
                                        </li>
                                        <li class="themeBoxT" style="line-height: 86px; font-size: 46px; display: none;">
                                            爱，因为在心中
                                        </li>
                                    </ul>
                                </div>
                                <div class="num-t left">
                                    <p>
                                        <em class="messageTotal">
                                            4
                                        </em>
                                        <span>
                                            条信息
                                        </span>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <span class="reserved right showIntroBtn flbtn-open">
                            <img src="/static/images/mubuys.png" style="max-width:126px;max-height:96px;">
                        </span>
                    </div>
                </div>
                <div id="container">
                    <div class="con-inner scrollBox" style="visibility: visible; overflow: hidden; position: relative;">
                        <ul class="user-list" data-to="0" style="position: relative; -webkit-transform: translate(0px, 0px); display: block;">
                            
                        </ul>
                    </div>
                </div>
                <div class="fl-layer floatLayer introBox">
                    <div class="fl-inner">
                        <a href="javascript:void(0);" class="flbtn-close showIntroBtn">
                        </a>
                        <p class="notice1">
                            使用微信扫描以下任意二维码，关注后发送内容即有机会上墙
                        </p>
                        <ul class="img-list">
                            <li class="img-b">
                                <img src="/static/images/img-b.png" alt="">
                            </li>
                            <li class="img-d">
                                <img src="/static/images/img-d.png" alt="">
                            </li>
                            <li class="img-s">
                                <img src="/static/images/img-s.png" alt="">
                            </li>
                        </ul>
                        <p class="notice2">
                            无法扫描二维码的用户，请关注微信号:
                            <span class="js_weixinAccountName">
                                mubuys
                            </span>
                        </p>
                    </div>
                </div>
                <div class="footer">
                    本网站由山东锐登网络科技有限公司提供
                </div>
            </div>
        </div>
    </body>

</html>
<script>
    $(document).ready(function() {
        $(".fl-layer").css("display", "none");
        setInterval(dellilist, 5000);
        setInterval(addlilist,3000);
        function addlilist(){
           $.get("/mush/get_new_msg",function(data,status){
                     $(".user-list").append(data);
                });
                 $.get("/mush/get_msg_count",function(data,status){
                     $(".messageTotal").html(data);
                });
        }
        sum=false;
        function dellilist() {
                
            if ($(".user-list li").length > 4) {
			if(sum==false)
			{
				$(".user-list").animate({top: '-181px'}, "slow");
				sum=true;
			}
			else
			{
			    $(".user-list li:eq(0)").slideUp("slow");
				$(".user-list").animate({top: '-181px'}, "slow");
				setTimeout(delli, 2000);
			}
                
            }
        }
        function delli() {
		   
            $(".user-list li:eq(0)").remove();
          }
        setInterval(changetitle, 7000);
        function changetitle() {
            if ($(".themeBoxW").css("display") == "list-item") {
                $(".themeBoxW").css("display", "none");
                $(".themeBoxT").css("display", "list-item");
            } else {
                $(".themeBoxW").css("display", "list-item");
                $(".themeBoxT").css("display", "none");
            }
        }
        $(".flbtn-open").click(function() {
            $(".fl-layer").css("display", "block");
        });
        $(".flbtn-close").click(function() {
            $(".fl-layer").css("display", "none");
        });
	/*	$(".btn-detail").live('click', function() {
		    $(".detail-box").css("display","block");
		});
		 $(".flbtn-close").live('click', function() {
            $(".detail-box").css("display", "none");
        });
		*/
		
    });
</script>
